.header {
	height: 220px;
	width: 100%;
	color: #ddd;
	background: #446CB3;
	background-repeat: no-repeat;
   	background-size: cover;
	padding-top: 30px;
}

.header .col-lg-6 {
	padding-top: 10px;
}

.header .col-lg-6 h5 {
	padding-top: 10px;
}

.header .col-lg-6 .glyphicon {
	font-size: 18px;
	padding-right: 10px;
}

.locationInput {
	width: 30rem;
}

#searchButton {
	color: #22313F;
	background-color: #ddd;
	margin-top: 15px;
}

#searchButton:hover {
	background-color: #ECF0F1;
}
