.place-container {
	padding-top: 30px;
	padding-bottom: 50px;

}

.place {
	margin-top: 30px;
	height: 250px;
	border-bottom: 2px solid #6C7A89;
	border-radius: 2px;
}

.place h4 {
	margin-top: 25px;
}

.place img {
	height: 200px;
	width: 250px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 2px
}

.summary {
	padding-left: 50px;
}

.reviews {
	padding-left: 50px;
}

.load-more {
	opacity: 0;
}
